.container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 75vh;
  width: 75vw;
  border: 5px;
  border-radius: 1rem;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 1rem;
  overflow: hidden;
  transform: translate(-50%, -50%);
}

.form-container {
  display: flex;
  flex-direction: column;
  border-top-left-radius: 1rem;
  border-bottom-left-radius: 1rem;
}

.signin {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  transition: all 1s ease-in-out;
  z-index: 1;
}

.signup {
  position: relative;
  right: 0;
  visibility: hidden;
  z-index: 2;
  opacity: 1;
}

.signin span,
.signin input,
.signup span,
.signup input {
  margin-bottom: 0.5em;
  text-align: center;
  margin: 0.2em 1em;
}

.signin button {
  background: #72b872;
}

.signup.active {
  transform: translateX(100%);
  visibility: visible;
  opacity: 1;
  z-index: 5;
  animation: show 0.6s;
}

@keyframes show {
  0%,
  49.99% {
    opacity: 0;
    z-index: 1;
  }
  50%,
  100% {
    opacity: 1;
    z-index: 5;
  }
}

.signin.slide-right {
  position: relative;
  background: #72b872;
  transform: translateX(100%);
}

.container button {
  display: flex;
  justify-content: center;
  align-self: center;
  align-items: center;
  border-radius: 1rem;
  width: 50%;
  height: 35px;
}

.overlay-container {
  /* background: #72b872; */
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  transition: transform 0.6s ease-in-out;
  z-index: 100;
}

.overlay-right {
  background: #72b872;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
  position: relative;
  right: 0;
  transform: translateX(0);
  transition: transform 1s ease-in-out;
}

.overlay-right.slide-left {
  transform: translateX(-100%);
}

.overlay-left {
  background: #72b872;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
  position: relative;
  left: 0;
  transform: translateX(0);
  transition: transform 1s ease-in-out;
}

.hide {
  display: none;
}
